@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Montserrat&display=swap');
:root {
  --red-color: #d61443;
  --blue-color: #83deef;
  --light-pink-color: #ffb8ca;
  --dark-pink-color: #fea5bb;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: rgba(255, 255, 255, 0.3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: 'Coiny', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  height: 100%;
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.red-btn {
  width: 130px;
  height: 45px;
  background-color: var(--red-color);
  border: none;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 30px;
  letter-spacing: 1px;
  cursor: pointer;
  transition-duration: 0.2s;
  font-weight: bold;
  box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.red-btn a {
  height: 100%;
  width: 100%;
  text-align: center;
  color: var(--white-color);
  outline: none;
  padding-top: 14px;
}

.red-btn a:hover {
  color: var(--red-color);
}

.red-btn:hover {
  background-color: var(--white-color);
  font-weight: bold;
}

/* navbar */
#header {
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 1000;
  transition: background ease-in-out 0.5s, top ease 0.6s;
}

#hamburger-icon {
  display: none;
}

.close-btn {
  display: none;
}

.bg-color {
  background-color: #fea5bb;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 15px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  flex-direction: row;
}

.nav-list a {
  color: var(--red-color);
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 10px;
  transition-duration: 0.3s;
}

.nav-list a.active {
  color: var(--white-color);
}

.nav-list a:hover {
  color: var(--white-color);
}

.social-icon-fb {
  margin-left: 100px;
}

#logo {
  height: 100px;
}

/* hero */
#home-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.logo-home {
  display: none;
}

.basket {
  position: fixed;
  left: 93%;
  top: 3%;
  font-size: 25px;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 10000;
  cursor: pointer;
}

.circles-red-hero {
  background: url(../images/circle2.svg) no-repeat center center/cover;
  position: absolute;
  height: 800px;
  width: 900px;
  position: absolute;
  right: 0;
  transform: rotate(270deg);
}

.circles-blue-hero {
  background: url(../images/circle1.svg) no-repeat center center/cover;
  position: absolute;
  height: 800px;
  width: 900px;
  position: absolute;
  transform: rotate(177deg);
  left: 0;
}

.circles-white-hero {
  background: url(../images/circle3.svg) no-repeat center center/cover;
  position: absolute;
  height: 800px;
  width: 900px;
  position: absolute;
  transform: rotate(3deg);
  left: -20%;
}

.cupcake-img {
  background: url(../images/cupcake.png) no-repeat center center/cover;
  position: absolute;
  height: 600px;
  width: 600px;
  transform: rotate(-15deg);
  left: -190px;
  top: 1%;
  filter: drop-shadow(3px 1px 8px #d61443);
}

.bg-shape {
  background: url(../images/wave-haikei.svg) no-repeat center center/cover;
  height: 100vh;
  width: 102%;
  position: absolute;
  z-index: -1;
}

.girl-img {
  background: url(../images/girl.jpg) no-repeat center center/cover;
  height: 100vh;
  width: 47vw;
  position: absolute;
  right: 0;
  z-index: -2;
  opacity: 0.7;
}

.round-cupcake-img {
  background: url(../images/round-cupcake.png) no-repeat center center/cover;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 420px;
  bottom: 153px;
  z-index: -1;
  opacity: 0.6;
}

.home-text {
  width: 642px;
  height: 383px;
  top: 3%;
  right: 2%;
  color: var(--red-color);
  z-index: 100;
}

.home-text h1 {
  font-size: 70px;
  line-height: 70px;
  margin-left: 80px;
  margin-top: 50px;
  filter: drop-shadow(0px 1px 1px #000);
}

.home-text p {
  font-size: 25px;
  padding: 31px;
  text-align: center;
  font-family: 'Coiny', cursive;
  line-height: 31px;
  margin-left: 242px;
  margin-top: 118px;
}

.btns {
  position: relative;
  margin-left: 48px;
  margin-top: 19px;
  display: flex;
}

.yummy-txt {
  position: absolute;
  right: -120px;
  font-size: 95px;
  line-height: 68px;
  transform: rotate(-22deg);
  color: var(--white-color);
  top: 51%;
  filter: drop-shadow(3px 1px 8px #d61443);
}

.yummy-txt span {
  font-size: 75px;
}

.red-circle-big {
  width: 600px;
  height: 600px;
  background-color: rgb(214 20 67 / 20%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  left: -12%;
}

.red-circle-small {
  width: 300px;
  height: 300px;
  background-color: rgb(214 20 67 / 60%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  right: -85px;
  top: 50%;
}

/* products section*/
#products-section {
  position: relative;
  overflow: hidden;
}

.main-header {
  position: relative;
  margin: 135px auto;
  width: 700px;
  text-align: center;
}

.main-header h1 {
  font-size: 60px;
}

.main-header p {
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: -200px;
  font-weight: bold;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  justify-self: center;
  align-self: center;
  margin: 160px auto;
  width: 80%;
}

.product-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 90%;
  box-shadow: rgb(165 178 180 / 35%) 0px -15px 20px;
  margin: 50px auto;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  font-size: 25px;
  font-family: 'Coiny', cursive;
  transition-duration: 0.3s;
  color: #c2baba;
  letter-spacing: 2px;
  opacity: 0.8;
  animation: fade 1s;
}

.product-tab.active {
  box-shadow: rgb(254 165 187 / 35%) 0px -10px 20px;
  color: var(--red-color);
  opacity: 1;
}

.product-tab:hover {
  box-shadow: rgb(254 165 187 / 35%) 0px -10px 20px;
  color: var(--red-color);
}

.product-circle {
  height: 250px;
  width: 250px;
  background-color: var(--blue-color);
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
}

.hide-txt {
  position: absolute;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  background-color: var(--blue-color);
  color: var(--black-color);
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.3s linear;
  text-align: center;
  padding: 20px;
  box-shadow: rgb(254 165 187 / 90%) 0px 0px 35px;
}

.hide-txt p {
  font-family: 'Coiny', cursive;
  font-size: 22px;
  line-height: 22px;
}

.product-circle:hover {
  cursor: pointer;
}

.product-circle:hover .hide-txt {
  visibility: visible;
  opacity: 0.9;
}

.vegan-img {
  background: url(../images/avocado.png) no-repeat center center/cover;
  height: 200px;
  width: 300px;
  position: relative;
  transform: scale(0.9) rotate(8deg);
  right: 32px;
  bottom: -15px;
  filter: drop-shadow(2px 1px 8px #000000);
}

.chocolate-img {
  background: url(../images/chocolate.png) no-repeat center center/cover;
  height: 348px;
  width: 329px;
  position: relative;
  transform: scale(0.67) rotate(8deg);
  right: 32px;
  bottom: 44px;
  filter: drop-shadow(2px 1px 8px #000000);
}

.fruity-img {
  background: url(../images/pinaple.png) no-repeat center center/cover;
  height: 764px;
  width: 329px;
  position: relative;
  transform: scale(0.5) rotate(8deg);
  right: 32px;
  bottom: 326px;
  filter: drop-shadow(2px 1px 8px #000000);
}

/* tab content */

.tab-content.content {
  display: none;
}

.tab-content {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: -208px;
  margin-bottom: 86px;
  animation: fade 1s;
}

/* Fade in tabs */
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab-card {
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgb(254 165 187 / 35%) 0px 5px 15px;
  transition-duration: 0.3s;
}

.tab-card:hover {
  transform: scale(1.1);
  background-color: var(--white-color);
}

.tab-card.active {
  box-shadow: rgb(254 165 187 / 35%) 0px 5px 15px;
}

.tab-card h3 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: lowercase;
}

.tab-card p {
  text-align: center;
  padding: 25px;
  font-size: 20px;
}

.tab-card h4 {
  font-size: 30px;
  letter-spacing: 2px;
}

.card-img {
  height: 150px;
  width: 150px;
  filter: drop-shadow(3px 1px 5px rgb(0 0 0 / 49%));
}

.basket-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.basket-icon:hover,
.basket-icon:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}

/* about section */
#about-section {
  position: relative;
  height: 100vh;
  background-color: var(--light-pink-color);
}

.container-about {
  height: 100%;
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.circles-red-about {
  background: url(../images/circle2.svg) no-repeat center center/cover;
  position: absolute;
  height: 800px;
  width: 900px;
  position: absolute;
  left: 0;
  transform: rotate(274deg);
}

.circles-blue-about {
  background: url(../images/circle1.svg) no-repeat center center/cover;
  position: absolute;
  height: 800px;
  width: 900px;
  position: absolute;
  transform: rotate(116deg);
  left: 0;
  bottom: 0;
}

.circles-white-about {
  background: url(../images/circle3.svg) no-repeat center center/cover;
  position: absolute;
  height: 800px;
  width: 900px;
  position: absolute;
  transform: rotate(250deg);
  right: 0;
  z-index: 101;
}

.about-txt {
  width: 35vw;
  color: var(--white-color);
  z-index: 100;
}

.about-txt h1 {
  font-size: 60px;
  line-height: 56px;
  filter: drop-shadow(0px 1px 1px var(--red-color));
}

.about-txt p {
  font-size: 21px;
  line-height: 35px;
  padding: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.cupcakes-img {
  background: url(../images/aboutcupcake.png) no-repeat center center/cover;
  height: 400px;
  width: 400px;
  bottom: 376px;
  position: absolute;
  right: -165px;
  opacity: 0.7;
  filter: drop-shadow(3px 1px 65px #d61443);
}

.about-img {
  background: url(../images/girlorange.png) no-repeat center center/cover;
  height: 700px;
  width: 45vw;
  position: relative;
  filter: drop-shadow(3px 1px 65px #d61443);
}

/* contact section */
#contact-section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: var(--light-pink-color);
}

.contact-bg {
  background: url(../images/contact-bg.png) no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.contact-container {
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.contact-img {
  background: url(../images/contact-img.jpg) no-repeat center center/cover;
  height: 100vh;
  width: 40vw;
  position: relative;
  left: 0;
  top: 0;
}

.contact-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-left: 10%;
  z-index: 100;
}

.contact-txt h1 {
  font-size: 48px;
  text-align: center;
  line-height: 63px;
  margin-top: 30px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-left: 25px;
  background: var(--grey-color);
  padding: 48px;
  border-radius: 20px;
  border-left: 1px solid var(--grey-color);
  border-top: 1px solid var(--grey-color);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

input,
textarea {
  background: transparent;
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
  border: none;
  border-left: 1px solid var(--grey-color);
  border-top: 1px solid var(--grey-color);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: var(--red-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  outline: none;
  resize: none;
}

input:hover,
textarea:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

input[type='text']:focus,
input[type='email']:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

input[type='submit'] {
  margin-top: 0 auto;
  width: 100%;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #e75b7d;
}

input[type='submit']:hover {
  cursor: pointer;
  color: var(--red-color);
  background-color: rgb(254 165 187 / 15%);
}

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  color: var(--red-color);
}

.input-box {
  display: flex;
  flex-direction: column;
}

.error-msg {
  position: relative;
  color: red;
  font-size: 13px;
  height: 19px;
  width: 100%;
  margin-top: -10px;
  margin-bottom: 18px;
  text-align: left;
  margin-left: 3px;
  font-family: 'Montserrat', sans-serif;
}

.send-btn:disabled {
  opacity: 0.5;
  box-shadow: none;
  border: none;
  color: rgb(214 20 67 / 40%);
}

.send-btn[disabled]:hover {
  pointer-events: none;
}

.modal-container {
  position: fixed;
  z-index: 100000;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.3s, opacity 0.3s 0s, transform 0.3s;
}

.modal-box {
  background-color: var(--white-color);
  padding: 20px;
  width: 500px;
  height: 500px;
  text-align: center;
  box-shadow: rgb(0 0 0 / 50%) 2px 2px 15px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-box img {
  height: 275px;
  width: 200px;
}

.modal-box p {
  letter-spacing: 1px;
  margin-bottom: 18px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  width: 85%;
  font-size: 14px;
}

.modal-box h1 {
  text-transform: uppercase;
}

.close-modal-btn {
  color: var(--white-color);
  font-size: 45px;
  font-weight: bold;
  transition-duration: 0.5s;
  position: relative;
  margin-right: -105%;
  filter: drop-shadow(rgb(0 0 0 / 70%) 2px 2px 5px);
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  color: var(--dark-pink-color);
  text-decoration: none;
  cursor: pointer;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.5s 0s, transform 0.5s;
}

/* footer */
#footer {
  background-color: var(--dark-pink-color);
  position: relative;
}

#footer p {
  color: var(--white-color);
  text-align: center;
  padding-bottom: 30px;
  letter-spacing: 1px;
}

#footer-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: 400px;
  background-color: var(--dark-pink-color);
  color: var(--white-color);
  width: 1300px;
  margin: 0 auto;
}

.footer-box {
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
}

.footer-box h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.footer-box ul {
  margin-top: 30px;
}

.footer-box li {
  list-style: none;
  line-height: 41px;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}

.footer-box a {
  color: #ffffff;
  transition-duration: 0.2s;
}

.footer-box a:hover {
  color: var(--red-color);
}

.footer-box i {
  font-size: 20px;
}

.social-icons {
  text-align: center;
  margin-right: 50px;
  width: 190px;
}

.social-icons ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-icons i {
  transition: all 0.2s ease-in-out;
}

.social-icons i:hover {
  transform: scale(1.5);
  color: var(--red-color);
}

.box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.go-up-btn {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 50px 20px;
  border-radius: 50%;
  padding: 0.25em;
  width: 50px;
  height: 50px;
  background-color: var(--white-color);
  z-index: 1000;
  visibility: hidden;
}

.go-up-btn i {
  font-size: 40px;
  color: var(--dark-pink-color);
}
.show-btn {
  visibility: visible;
  opacity: 1;
}

.hide-btn {
  visibility: hidden;
  opacity: 0;
}

/* media queries */
@media screen and (max-width: 1600px) {
  .container {
    width: 1000px;
  }

  .cupcake-img {
    height: 500px;
    width: 500px;
    left: -145px;
    top: 20%;
  }

  .red-circle-big {
    left: -12%;
    height: 500px;
    width: 500px;
  }

  .home-text h1 {
    margin-left: 165px;
    margin-top: 50px;
    font-size: 61px;
  }

  .btns {
    margin-left: 130px;
  }

  .round-cupcake-img {
    left: 370px;
  }

  .circles-blue-hero {
    bottom: 0;
    transform: rotate(25deg);
  }

  .circles-white-hero {
    left: -22%;
  }

  .circles-red-hero {
    right: unset;
    top: 0;
    left: 0;
    transform: rotate(150deg);
  }

  .about-img {
    height: 560px;
    width: 35vw;
  }

  .cupcakes-img {
    height: 300px;
    width: 300px;
    right: -44px;
  }

  .about-txt p {
    font-size: 17px;
  }

  #footer-container {
    width: 1105px;
  }

  .footer-box h3 {
    font-size: 20px;
  }

  .contact-txt h1 {
    font-size: 43px;
  }
}

@media screen and (max-width: 1300px) {
  .nav-list a {
    margin-left: 10px;
    margin-right: 20px;
  }

  .yummy-txt {
    right: 5px;
    font-size: 60px;
    line-height: 43px;
  }

  .yummy-txt span {
    font-size: 50px;
  }

  .red-circle-small {
    height: 200px;
    width: 200px;
    right: -35px;
  }

  .red-circle-big {
    left: 0;
    height: 400px;
    width: 400px;
  }

  .cupcake-img {
    height: 400px;
    width: 400px;
    left: -19px;
    top: 30%;
  }

  .about-img {
    height: 430px;
    width: 35vw;
  }

  .circles-white-hero {
    width: 600px;
    height: 600px;
    left: 0;
    transform: rotate(84deg);
  }

  .circles-red-hero {
    width: 600px;
    height: 600px;
    top: 45px;
    transform: rotate(234deg);
  }

  .circles-blue-hero {
    width: 600px;
    height: 600px;
    transform: rotate(125deg);
  }

  .circles-blue-about {
    width: 500px;
    height: 500px;
    left: 285px;
    transform: rotate(120deg);
  }

  .circles-red-about {
    width: 600px;
    height: 600px;
    transform: rotate(108deg);
    left: -40px;
  }

  .circles-white-about {
    width: 600px;
    height: 600px;
    right: 125px;
    transform: rotate(267deg);
  }

  .cupcakes-img {
    right: 35px;
  }

  .contact-txt {
    width: 45%;
    margin-left: 5%;
  }

  #footer-container {
    width: 1000px;
  }

  .footer-box {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 1050px) {
  .logo-home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: var(--white-color);
    border-radius: 50%;
    top: 2%;
  }

  .logo-home img {
    width: 90%;
    height: 90%;
  }
  .container {
    width: auto;
  }

  .cupcake-img {
    left: 0;
  }

  .red-circle-big {
    left: 3%;
  }

  .circles-red-hero {
    display: none;
  }

  .circles-white-hero {
    display: none;
  }

  .circles-blue-hero {
    display: none;
  }

  .yummy-txt {
    right: 10%;
  }

  .red-circle-small {
    right: 10%;
  }

  .products-container {
    grid-template-columns: repeat(1, 1fr);
    width: 50%;
  }

  .tab-content {
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    width: 40%;
  }

  .product-tab {
    margin: 20px auto;
  }

  .card-img {
    margin: 40px auto;
  }

  .basket-icon {
    margin: 40px auto;
  }

  .tab-card {
    margin-top: 50px;
  }

  .product-circle {
    margin-bottom: 40px;
  }

  .fruity-img {
    transform: scale(0.4) rotate(22deg);
    right: 32px;
    bottom: 287px;
  }

  .container-about {
    flex-direction: column;
  }

  .cupcakes-img {
    bottom: 27%;
    right: 15%;
  }

  .about-img {
    height: 44vw;
    width: 44vw;
    margin-bottom: 35px;
  }

  .about-txt {
    width: 60vw;
    text-align: center;
  }

  .about-txt h1 {
    font-size: 40px;
  }

  .circles-blue-about {
    display: none;
  }

  .circles-red-about {
    display: none;
  }

  .circles-white-about {
    display: none;
  }

  #contact-section {
    height: auto;
  }

  .contact-container {
    flex-direction: column-reverse;
  }

  .contact-img {
    width: 100vw;
    height: 70vh;
  }

  .contact-txt {
    width: 70%;
    margin-bottom: 50px;
  }

  .contact-bg {
    height: 50vh;
  }

  #footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .footer-box {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
  }

  .footer-box h3 {
    font-size: 25px;
  }

  #hamburger-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    margin-left: 10%;
    padding: 10px;
    color: var(--black-color);
    cursor: pointer;
    width: 70px;
    height: 70px;
    margin-top: 3%;
    background-color: var(--light-pink-color);
  }

  .sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--light-pink-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: rgb(0 0 0 / 35%) 0px -10px 20px;
  }

  .nav-list {
    flex-direction: column;
    margin-top: 150px;
  }

  .nav-list li {
    font-size: 20px;
    margin-bottom: 40px;
  }

  #logo {
    display: none;
  }

  .social-icon-fb {
    margin: auto;
  }

  .social-icon {
    display: none;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 10%;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: var(--black-color);
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  .yummy-txt {
    display: none;
  }

  .red-circle-small {
    display: none;
  }

  .home-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--red-color);
    background-color: rgb(255 255 255 / 53%);
    box-shadow: rgb(0 0 0 / 35%) 0px -10px 20px;
    border-radius: 50%;
    width: 600px;
    height: 600px;
  }

  .home-text h1 {
    font-size: 62px;
    line-height: 65px;
    margin: 0 auto;
  }

  .home-text p {
    margin: 0 auto;
    font-size: 30px;
  }

  .cupcake-img {
    display: none;
  }

  .red-circle-big {
    display: none;
  }

  .btns {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 63%;
  }

  .red-btn {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 11px;
    width: 115px;
  }
  .red-btn a {
    padding-top: 15px;
  }

  .girl-img {
    width: 100vw;
  }

  .bg-shape {
    display: none;
  }

  .round-cupcake-img {
    display: none;
  }

  .main-header {
    width: 600px;
    margin: 65px auto;
  }

  .main-header h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .about-txt {
    width: 600px;
  }

  .about-txt h1 {
    font-size: 48px;
  }

  .basket {
    left: 85%;
  }

  .tab-content {
    width: 400px;
  }

  .product-tab {
    width: 300px;
  }

  #contact-form {
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  .home-text {
    width: 400px;
    height: 400px;
  }
  .home-text h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .home-text p {
    font-size: 25px;
  }

  .red-btn {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
    width: 100px;
  }

  .main-header {
    width: 350px;
  }

  .main-header h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .main-header p {
    font-size: 15px;
  }

  .about-txt {
    width: 400px;
  }

  .about-txt h1 {
    font-size: 32px;
  }

  .about-txt p {
    font-size: 15px;
    line-height: 30px;
  }

  .about-img {
    width: 300px;
    height: 300px;
  }

  .cupcakes-img {
    width: 200px;
    height: 200px;
    bottom: 30%;
  }

  .contact-txt {
    margin: 35px auto;
  }

  .contact-txt h1 {
    font-size: 36px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .products-container {
    width: 65%;
  }

  #contact-form {
    padding: 15px;
  }

  .tab-content {
    width: 300px;
  }

  .home-text {
    width: 300px;
    height: 300px;
  }

  .home-text h1 {
    font-size: 34px;
    line-height: 40px;
  }
  .home-text p {
    font-size: 20px;
    padding: 10px;
  }

  .btns {
    top: 75%;
  }

  .about-txt {
    width: 300px;
  }

  .about-txt p {
    font-size: 12px;
    line-height: 25px;
  }

  .contact-txt {
    width: 85%;
  }

  .contact-txt h1 {
    line-height: 40px;
    margin-bottom: 20px;
  }

  .cupcakes-img {
    display: none;
  }

  #hamburger-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
    margin-top: 8%;
  }
  #hamburger-icon i {
    font-size: 30px;
  }

  .products-container {
    width: 95%;
  }

  .about-txt h1 {
    line-height: 40px;
    margin-top: 30px;
  }

  .about-img {
    height: 44vw;
    width: 44vw;
    margin-bottom: 35px;
  }

  #about-section {
    height: fit-content;
  }

  .nav-list li {
    font-size: 15px;
  }

  .main-header {
    width: 300px;
  }
}

@media screen and (max-width: 350px) {
  #hamburger-icon {
    width: 40px;
    height: 40px;
  }

  .basket {
    width: 40px;
    height: 40px;
  }

  .product-tab {
    width: 250px;
    font-size: 20px;
  }

  .card-img {
    height: 100px;
    width: 100px;
  }

  .tab-content {
    width: 250px;
  }

  .contact-txt h1 {
    font-size: 32px;
  }
}
