@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Montserrat&display=swap');
:root {
  --red-color: #d61443;
  --blue-color: #83deef;
  --light-pink-color: #ffb8ca;
  --dark-pink-color: #fea5bb;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: rgba(255, 255, 255, 0.3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: 'Coiny', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  height: 100%;
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.red-btn {
  width: 130px;
  height: 45px;
  background-color: var(--red-color);
  color: var(--white-color);
  outline: none;
  border: none;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 30px;
  letter-spacing: 1px;
  cursor: pointer;
  transition-duration: 0.2s;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.red-btn:hover {
  background-color: var(--white-color);
  color: var(--red-color);
  font-weight: bold;
}

/* navbar */
#header {
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 1000;
  transition: background ease-in-out 0.5s, top ease-out 0.5s;
}

.bg-color {
  background-color: #fea5bb;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  z-index: 1000;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.nav-list a {
  color: var(--red-color);
  margin: 0 20px;
  text-transform: uppercase;
}

.nav-list i {
  font-size: 30px;
  margin: 0 20px;
  color: var(--red-color);
  font-weight: bold;
}

#logo {
  height: 100px;
}

/* hero */
#home-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.circles-red-hero {
  background: url(../images/circle2.svg) no-repeat center center/cover;
  position: absolute;
  height: 800px;
  width: 900px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(270deg);
}

.circles-blue-hero {
  background: url(../images/circle1.svg) no-repeat center center/cover;
  position: absolute;
  height: 800px;
  width: 900px;
  position: absolute;
  transform: rotate(177deg);
  left: 0;
}

.circles-white-hero {
  background: url(../images/circle3.svg) no-repeat center center/cover;
  position: absolute;
  height: 800px;
  width: 900px;
  position: absolute;
  transform: rotate(3deg);
  left: -32%;
}

.cupcake-img {
  background: url(../images/cupcake.png) no-repeat center center/cover;
  position: absolute;
  height: 600px;
  width: 600px;
  transform: rotate(-15deg);
  left: -190px;
  top: 1%;
  filter: drop-shadow(3px 1px 8px #d61443);
}

.bg-shape {
  background: url(../images/wave-haikei.svg) no-repeat center center/cover;
  height: 100vh;
  width: 102%;
  position: absolute;
  z-index: -1;
}

.girl-img {
  background: url(../images/girl.jpg) no-repeat center center/cover;
  height: 100vh;
  width: 47vw;
  position: absolute;
  right: 0;
  z-index: -2;
  opacity: 0.7;
}

.round-cupcake-img {
  background: url(../images/round-cupcake.png) no-repeat center center/cover;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 420px;
  bottom: 153px;
  z-index: -1;
  opacity: 0.6;
}

.home-text {
  width: 642px;
  height: 383px;
  top: 3%;
  right: 2%;
  color: var(--red-color);
  z-index: 100;
}

.home-text h1 {
  font-size: 70px;
  line-height: 70px;
  margin-left: 80px;
  margin-top: 50px;
  filter: drop-shadow(0px 1px 1px #000);
}

.home-text p {
  font-size: 25px;
  padding: 31px;
  text-align: center;
  font-family: 'Coiny', cursive;
  line-height: 31px;
  margin-left: 242px;
  margin-top: 118px;
}

.btns {
  position: relative;
  margin-left: 78px;
  margin-top: 19px;
}

.yummy-txt {
  position: absolute;
  right: -210px;
  font-size: 95px;
  line-height: 68px;
  transform: rotate(-22deg);
  color: var(--white-color);
  top: 51%;
  filter: drop-shadow(3px 1px 8px #d61443);
}

.yummy-txt span {
  font-size: 75px;
}

.red-circle-big {
  width: 600px;
  height: 600px;
  background-color: rgb(214 20 67 / 20%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  left: -12%;
}

.red-circle-small {
  width: 300px;
  height: 300px;
  background-color: rgb(214 20 67 / 60%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  right: -262px;
  top: 50%;
}

/* products section*/
#products-section {
  position: relative;
  overflow: hidden;
}

.main-header {
  position: relative;
  margin: 135px auto;
  width: 700px;
  text-align: center;
}

.main-header h1 {
  font-size: 60px;
}

.main-header p {
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: -200px;
  font-weight: bold;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  justify-self: center;
  align-self: center;
  margin: 160px auto;
  width: 80%;
}

.product-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 90%;
  box-shadow: rgb(131 222 239 / 35%) 0px -10px 20px;
  margin: 50px auto;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  font-size: 25px;
  font-family: 'Coiny', cursive;
  transition-duration: 0.3s;
  color: var(--blue-color);
  letter-spacing: 2px;
}

.product-tab.active {
  box-shadow: rgb(254 165 187 / 35%) 0px -10px 20px;
  color: var(--red-color);
}

.product-tab:hover {
  box-shadow: rgb(254 165 187 / 35%) 0px -10px 20px;
  color: var(--red-color);
}

.product-circle {
  height: 250px;
  width: 250px;
  background-color: var(--blue-color);
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
}

.hide-txt {
  position: absolute;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  background-color: var(--blue-color);
  color: var(--black-color);
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.3s linear;
  text-align: center;
  padding: 20px;
  box-shadow: rgb(254 165 187 / 90%) 0px 0px 35px;
}

.hide-txt p {
  font-family: 'Coiny', cursive;
  font-size: 22px;
  line-height: 22px;
}

.product-circle:hover {
  cursor: pointer;
}

.product-circle:hover .hide-txt {
  visibility: visible;
  opacity: 0.9;
}

.vegan-img {
  background: url(../images/avocado.png) no-repeat center center/cover;
  height: 200px;
  width: 300px;
  position: relative;
  transform: scale(0.9) rotate(8deg);
  right: 32px;
  bottom: -15px;
  filter: drop-shadow(2px 1px 8px #000000);
}

.chocolate-img {
  background: url(../images/chocolate.png) no-repeat center center/cover;
  height: 348px;
  width: 329px;
  position: relative;
  transform: scale(0.67) rotate(8deg);
  right: 32px;
  bottom: 44px;
  filter: drop-shadow(2px 1px 8px #000000);
}

.fruity-img {
  background: url(../images/pinaple.png) no-repeat center center/cover;
  height: 764px;
  width: 329px;
  position: relative;
  transform: scale(0.5) rotate(8deg);
  right: 32px;
  bottom: 326px;
  filter: drop-shadow(2px 1px 8px #000000);
}

/* tab content */
.tab-content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  width: 100%;
  height: 1000px;
  position: relative;
  margin: 0 auto;
  margin-top: -208px;
  margin-bottom: 86px;
}

.tab-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgb(131 222 239 / 35%) 0px 5px 15px;
}

.tab-card.active {
  box-shadow: rgb(254 165 187 / 35%) 0px 5px 15px;
}

.tab-card h3 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: lowercase;
}

.tab-card h4 {
  font-size: 30px;
  letter-spacing: 2px;
}

.card-img {
  height: 150px;
  width: 150px;
  filter: drop-shadow(3px 1px 5px rgb(0 0 0 / 49%));
}

.basket-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.basket-icon:hover,
.basket-icon:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}

/* about section */
#about-section {
  position: relative;
  height: 100vh;
  background-color: var(--light-pink-color);
}

.circles-red-about {
  background: url(../images/circle2.svg) no-repeat center center/cover;
  position: absolute;
  height: 800px;
  width: 900px;
  position: absolute;
  left: 0;
  transform: rotate(274deg);
}

.circles-blue-about {
  background: url(../images/circle1.svg) no-repeat center center/cover;
  position: absolute;
  height: 800px;
  width: 900px;
  position: absolute;
  transform: rotate(116deg);
  left: 0;
  bottom: 0;
}

.circles-white-about {
  background: url(../images/circle3.svg) no-repeat center center/cover;
  position: absolute;
  height: 800px;
  width: 900px;
  position: absolute;
  transform: rotate(250deg);
  right: 0;
  z-index: 101;
}

.about-txt {
  width: 35vw;
  color: var(--white-color);
  z-index: 100;
}

.about-txt h1 {
  font-size: 60px;
  line-height: 56px;
  filter: drop-shadow(0px 1px 1px var(--red-color));
}

.about-txt p {
  font-size: 21px;
  line-height: 35px;
  padding: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.cupcakes-img {
  background: url(../images/aboutcupcake.png) no-repeat center center/cover;
  height: 400px;
  width: 400px;
  bottom: 376px;
  position: absolute;
  right: -165px;
  opacity: 0.7;
  filter: drop-shadow(3px 1px 65px #d61443);
}

.about-img {
  background: url(../images/girlorange.png) no-repeat center center/cover;
  height: 700px;
  width: 45vw;
  position: relative;
  filter: drop-shadow(3px 1px 65px #d61443);
}

/* contact section */
#contact-section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: var(--light-pink-color);
}

.contact-bg {
  background: url(../images/contact-bg.png) no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.contact-container {
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.contact-img {
  background: url(../images/contact-img.jpg) no-repeat center center/cover;
  height: 100vh;
  width: 40vw;
  position: relative;
  left: 0;
  top: 0;
}

.contact-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-left: 10%;
  z-index: 100;
}

.contact-txt h1 {
  font-size: 48px;
  text-align: center;
  line-height: 63px;
  margin-top: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-left: 25px;
  background: var(--grey-color);
  padding: 48px;
  border-radius: 20px;
  border-left: 1px solid var(--grey-color);
  border-top: 1px solid var(--grey-color);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

input,
textarea {
  background: transparent;
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
  border: none;
  border-left: 1px solid var(--grey-color);
  border-top: 1px solid var(--grey-color);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: var(--red-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  resize: none;
}

input:hover,
textarea:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

input[type='text']:focus,
input[type='email']:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

input[type='submit'] {
  margin-top: 0 auto;
  width: 100%;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
input[type='submit']:hover {
  cursor: pointer;
}

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  color: var(--red-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* footer */
#footer {
  background-color: var(--dark-pink-color);
  position: relative;
}

#footer p {
  color: var(--white-color);
  text-align: center;
  padding-bottom: 30px;
  letter-spacing: 1px;
}

#footer-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: 400px;
  background-color: var(--dark-pink-color);
  color: var(--white-color);
  width: 1300px;
  margin: 0 auto;
}

.footer-box {
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
}

.footer-box h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.footer-box ul {
  margin-top: 30px;
}

.footer-box li {
  list-style: none;
  line-height: 41px;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}

.footer-box a {
  color: #ffffff;
  transition-duration: 0.2s;
}

.footer-box a:hover {
  color: var(--red-color);
}

.footer-box i {
  font-size: 20px;
}

.social-icons {
  text-align: center;
  margin-right: 50px;
  width: 190px;
}

.social-icons ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-icons i {
  transition: all 0.2s ease-in-out;
}

.social-icons i:hover {
  transform: scale(1.5);
  color: var(--red-color);
}

.box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
